<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420838978257-8qqsqp0p2v4fo3emfja6m6c4rkls6rmf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420838978257-8qqsqp0p2v4fo3emfja6m6c4rkls6rmf</string>
	<key>API_KEY</key>
	<string>AIzaSyBhKGlgVZxP7UM19JEGesC4li7tM-TknSU</string>
	<key>GCM_SENDER_ID</key>
	<string>420838978257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.allyklionsky.Studymate</string>
	<key>PROJECT_ID</key>
	<string>StudySavior-b2132</string>
	<key>STORAGE_BUCKET</key>
	<string>studymate-b2132.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:420838978257:ios:31954b569738da05</string>
	<key>DATABASE_URL</key>
	<string>https://studymate-b2132.firebaseio.com</string>
</dict>
</plist>
